# This workflow will install Python dependencies, run tests and lint
# Uses poetry and tests multiple oses and python versions
# For more information see:
#   https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
#   https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
#   https://github.com/actions/setup-python#caching-packages-dependencies

name: Python application

env:
  COVERALLS_REPO_TOKEN:  ${{ secrets.COVERALLS_REPO_TOKEN }}

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # specify operating systems
        os: [ubuntu-latest, macos-latest, windows-latest]
        # specify python versions to test (project requires ^3.12)
        python-version: ["3.12", "3.13"]
        # total tests = oses X python versions
        # example exclusion: don't test python3.8 on Mac
        # exclude:
        #  - os: macos-latest
        #    python-version: '3.8'
    steps:
      # steps indented by YAML extension
      - uses: actions/checkout@v4
      - name: Install poetry
        run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          #  loop through each version of python specified
          python-version: ${{ matrix.python-version }}
          # poetry cache required to use poetry
          cache: "poetry"
      - run: poetry install
      - run: poetry run pytest --cov=./ --cov-report=lcov tests/

      - name: Code quality checks
        run: |
          # Run ruff for linting and formatting checks
          poetry run ruff check . --output-format=github
          poetry run ruff format --check .
          # Run mypy for type checking
          poetry run mypy .
          # Run bandit for security checks
          poetry run bandit -r src/
          # Run safety for dependency vulnerabilities
          poetry run safety check
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v1
        with:
          path-to-lcov: coverage.lcov
